body {
    background-image: url(n5.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;



}

h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    line-height: 1.5;
}


